main{
    width: 840px;
}
header{
    background-color: #4f74a1;
    padding: 20px;
    color: #f5f3f3;
    text-align: justify;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 /0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

p{
    padding: 0px;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}