
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    max-width: 840px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
    /* no background-color is needed for this part because it is not in the example video; */
    /* background-color: #f5f3f3; */ 
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    margin: 0 0 10px 10px;
    padding: 2px;
    box-shadow: 0 0 10px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
header{
    background-color: #4f74a1;
    padding: 20px;
    color: #f5f3f3;
    text-align: justify;
}

h1{
    color: #2b4c9e;
}

nav{
    padding: 10px;
    background-color: #4f74a1;
}

nav a{
    color: #f5f3f3;
    padding: 10px;
    display: block;
    font-weight: bold;
}
aside{
    width: 20em;
    margin: 1em;
    border: 1px solid black;
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    padding: 2px;
    position: relative;
}

aside img{
    width: 200px;
    height: auto;

}

aside h2{ 
    position: absolute;
    top: 20px;
    right: 80px;
}

p{
    padding: 0px;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}

/* class selector  */
.box{ 
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    padding: 10px;
    background-color: #f8f7f7fd;
    color: #333;
}
/* 
.ul{
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: #f8f7f7fd;
    color: #333;
} */